.paginate-previous{
    width: 105px;
    height: 31px;
}



/*======================================== Cart ===========================================================*/
.w-40 {
    width: 40%;
}

.w-60{
    width: 60%;
}
